*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 23, 89, 1);
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    margin: 0; /* Eliminar márgenes predeterminados del body */
}

.caja {
    border-radius: 8px;
    background-color: rgba(0, 127, 255, 0.3);
    width: 800px;
    height: 500px;
}

button.boton-admin{
    display: flex;
    margin: 200px auto;
    align-items: center;
    font-weight: 600;
}

img.img-propio{
    height: 100vh;
    filter: brightness(0.6);
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel-item{
    justify-content: center;
    align-items: center;
}

.carousel-caption {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Para centrar horizontalmente el texto */
}

.carousel-caption h5{
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

.carousel-caption h4{
    font-size: 55px;
    font-weight: 700;
    text-align: end;
}

.carousel-caption h3{
    font-size: 30px;
    font-weight: 700;
    text-align: end;
    color: aqua;
}

.col-lg-6 img.imagen-columna{
    margin: 0 auto;
    align-items: start;
    width: 300px;
    height: 400px;
    margin: 0;
}

.col-lg-6 img.imagen-logo{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}







    

